/*Mobile and Tablet*/
@media only screen and (max-width: 1000px)
{
    
    /*All Mobile Devices*/
    @media only screen and (max-width: 500px) {
        .title {
            font-size: 200%;
        }

        .mainText, .link {
            font-size: 83%;
        }

        .headers {
            font-size: 200%;
        }
        html, body {
            padding: 0 0;
            margin: 0 0;
            overflow-x: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0 0;
            margin: 0 0;
        }

        .header{
            background-color: white;
            height:50%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .header a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            bottom: 10%;
        }

        .IFSMimages {
            display: none;
            width: 100%;
            height: 150%;
            background-color: #C09F80;
        }


        .IFSMtext {
            width: 100%;
            height: 150%;
        }


        .What {
            height: 33%;
            width: 100%;
            background-color: #4871F9;

        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: black;
            text-align: center;
            position: relative;
            top: 10%;
            left: 4%;
        }

        .What p {
            position: relative;
            top: 8%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 25%;
            width: 100%;
            float: left;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: black;
            text-align: center;
            position: relative;
            top: 10%;
        }

        .Responsibilities ul {
            position: relative;
            top: 8%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 42%;
            width: 100%;
            float: left;
            display: inline-block;
            background-color: #4871F9;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: black;
            text-align: center;
            position: relative;
            top: 10%;
        }

        .Projects ul {
            position: relative;
            top: 8%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }
    }

    /*All Tablet Devices*/
    @media only screen and (min-width: 500px) {
        .title {
            font-size: 300%;
        }

        .mainText, .link {
            font-size: 143%;
        }

        .headers {
            font-size: 300%;
        }
        html, body {
            padding: 0 0;
            margin: 0 0;
            overflow-x: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0 0;
            margin: 0 0;
        }

        .header{
            background-color: white;
            height:50%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .header a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            bottom: 10%;
        }

        .IFSMimages {
            display: none;
            width: 100%;
            height: 150%;
            background-color: #C09F80;
        }


        .IFSMtext {
            width: 100%;
            height: 150%;
        }


        .What {
            height: 33%;
            width: 100%;
            background-color: #4871F9;

        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: black;
            text-align: center;
            position: relative;
            top: 10%;
            left: 4%;
        }

        .What p {
            position: relative;
            top: 8%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 25%;
            width: 100%;
            float: left;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: black;
            text-align: center;
            position: relative;
            top: 10%;
        }

        .Responsibilities ul {
            position: relative;
            top: 8%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 42%;
            width: 100%;
            float: left;
            display: inline-block;
            background-color: #4871F9;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: black;
            text-align: center;
            position: relative;
            top: 10%;
        }

        .Projects ul {
            position: relative;
            top: 8%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }
    }
}

/*Laptops*/
@media only screen and (min-width: 1000px)
{
    @media only screen and (min-width: 1000px) {
        .title {
            font-size: 220%;
        }

        .mainText, .link {
            font-size: 85%;
        }

        .headers {
            font-size: 220%;
        }
        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        .header{
            background-color: white;
            height:9%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .header a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            top: 20%;
        }

        .IFSMimages {
            width: 100%;
            height: 40%;
            background-color: #C09F80;
        }

        .IFSMmodel {
            display: inline-block;
            float: left;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMmodel img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMinput {
            display: inline-block;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMinput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }


        .IFSMoutput {
            display: inline-block;
            float: right;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMoutput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMtext {
            width: 100%;
            height: 51%;
            background-color: #D7CEC7;
        }


        .What {
            height: 100%;
            width: 33.3333%;
            float: left;
            display: inline-block;
        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
            left: 4%;

        }

        .What p {
            position: relative;
            top: 5%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 100%;
            width: 33.3333%;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Responsibilities ul {
            position: relative;
            top: 5%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 100%;
            width: 33.3333%;
            float: right;
            display: inline-block;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Projects ul {
            position: relative;
            top: 5%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

    }

    @media only screen and (min-width: 1250px) {
        .title {
            font-size: 220%;
        }

        .mainText, .link {
            font-size: 100%;
        }

        .headers {
            font-size: 220%;
        }
        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0;
            margin: 0;
        }


        .header{
            background-color: white;
            height:9%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .link {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            top: 20%;
        }


        .IFSMimages {
            width: 100%;
            height: 40%;
            background-color: #C09F80;
        }

        .IFSMmodel {
            display: inline-block;
            float: left;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMmodel img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMinput {
            display: inline-block;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMinput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }


        .IFSMoutput {
            display: inline-block;
            float: right;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMoutput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMtext {
            width: 100%;
            height: 51%;
            background-color: #D7CEC7;
        }


        .What {
            height: 100%;
            width: 33.3333%;
            float: left;
            display: inline-block;
        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
            left: 4%;

        }

        .What p {
            position: relative;
            top: 5%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 100%;
            width: 33.3333%;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Responsibilities ul {
            position: relative;
            top: 5%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 100%;
            width: 33.3333%;
            float: right;
            display: inline-block;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Projects ul {
            position: relative;
            top: 5%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

    }

    @media only screen and (min-width: 1350px) {
        .title {
            font-size: 220%;
        }

        .mainText, .link {
            font-size: 96%;
        }

        .headers {
            font-size: 270%;
        }
        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        .header{
            background-color: white;
            height:9%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .header a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            top: 20%;
        }

        .IFSMimages {
            width: 100%;
            height: 40%;
            background-color: #C09F80;
        }

        .IFSMmodel {
            display: inline-block;
            float: left;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMmodel img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMinput {
            display: inline-block;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMinput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }


        .IFSMoutput {
            display: inline-block;
            float: right;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMoutput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMtext {
            width: 100%;
            height: 51%;
            background-color: #D7CEC7;
        }


        .What {
            height: 100%;
            width: 33.3333%;
            float: left;
            display: inline-block;
        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
            left: 4%;

        }

        .What p {
            position: relative;
            top: 5%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 100%;
            width: 33.3333%;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Responsibilities ul {
            position: relative;
            top: 5%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 100%;
            width: 33.3333%;
            float: right;
            display: inline-block;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Projects ul {
            position: relative;
            top: 5%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

    }

    @media only screen and (min-width: 1580px) {
        .title {
            font-size: 270%;
        }

        .mainText, .link {
            font-size: 130%;
        }

        .headers {
            font-size: 300%;
        }
        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        .header{
            background-color: white;
            height:9%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .header a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            top: 20%;
        }

        .IFSMimages {
            width: 100%;
            height: 40%;
            background-color: #C09F80;
        }

        .IFSMmodel {
            display: inline-block;
            float: left;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMmodel img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMinput {
            display: inline-block;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMinput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }


        .IFSMoutput {
            display: inline-block;
            float: right;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMoutput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMtext {
            width: 100%;
            height: 51%;
            background-color: #D7CEC7;
        }


        .What {
            height: 100%;
            width: 33.3333%;
            float: left;
            display: inline-block;
        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
            left: 4%;

        }

        .What p {
            position: relative;
            top: 5%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 100%;
            width: 33.3333%;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Responsibilities ul {
            position: relative;
            top: 5%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 100%;
            width: 33.3333%;
            float: right;
            display: inline-block;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Projects ul {
            position: relative;
            top: 5%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

    }

    @media only screen and (min-width: 1870px) {
        .title {
            font-size: 300%;
        }

        .mainText, .link {
            font-size: 150%;
        }

        .headers {
            font-size: 320%;
        }

        html, body {
            padding: 0;
            margin: 0;
            overflow: hidden;
            height: 100%; 
            width: 100%;
        }

        h1, h2 {
            padding: 0;
            margin: 0;
        }

        .header{
            background-color: white;
            height:9%;
            width: 100%;
            position: relative;
            text-align: center;
        }

        .header h1 {
            display: inline-block;
            font-family: 'Cinzel', serif;
            color: black;
            position: relative;
            height: 100%;
            top: 25%;
        }

        .header a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
            top: 20%;
        }

        .IFSMimages {
            width: 100%;
            height: 40%;
            background-color: #C09F80;
        }

        .IFSMmodel {
            display: inline-block;
            float: left;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMmodel img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMinput {
            display: inline-block;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMinput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }


        .IFSMoutput {
            display: inline-block;
            float: right;
            width: 33.3333%;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid black;
        }

        .IFSMoutput img{
            width: 90%;
            height: 90%;
            padding: 3% 5%;
        }

        .IFSMtext {
            width: 100%;
            height: 51%;
            background-color: #D7CEC7;
        }


        .What {
            height: 100%;
            width: 33.3333%;
            float: left;
            display: inline-block;
        }

        .What h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
            left: 4%;

        }

        .What p {
            position: relative;
            top: 5%;
            left: 15%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
            width: 75%;
        }

        .Responsibilities {
            height: 100%;
            width: 33.3333%;
            display: inline-block;
        }

        .Responsibilities h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Responsibilities ul {
            position: relative;
            top: 5%;
            left: 4%;
            width: 75%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

        .Projects {
            height: 100%;
            width: 33.3333%;
            float: right;
            display: inline-block;
        }

        .Projects h1 {
            font-family: 'Karla', sans-serif;
            color: #76323F;
            text-align: center;
            position: relative;
            top: 7%;
        }

        .Projects ul {
            position: relative;
            top: 5%;
            width: 90%;
            line-height: 190%;
            font-family: 'Montserrat', sans-serif;
        }

    }

}
