/* COMMON IN ALL RESOLUTIONS -- DEFAULT TEMPLATE */

html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.MooPage {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1, h2 {
    padding: 0;
    margin: 0;
}

.headerTopMoo {
    background-color: #C09F80;
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px black solid;
}

.headerTopMoo h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: black;
    position: relative;
    height: 100%;
    top: 40%;
}

.TopRowMoo {
    width: 100%;
    height: 150%;
}

.WhatMoo {
    width: 100%;
    height: 33.3333%;
    display: inline-block;
    float: left;
    background-color: white;
}

.WhatMoo h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
}

.WhatMoo p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 17%;
    top: 10%;
    line-height: 190%;
    width: 65%;
}

.ScannerMoo {
    width: 100%;
    height: 33.33333%;
    display: inline-block;
    float: left;
    background-color: #BBDEFB;
}

.ScannerMoo h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
}

.ScannerMoo p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 17%;
    top: 10%;
    line-height: 190%;
    width: 65%;
}

.ParserMoo {
    width: 100%;
    height: 33.33%;
    display: inline-block;
    float: left;
    background-color: #64B5F6;
}

.ParserMoo h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
}

.ParserMoo p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 17%;
    top: 10%;
    line-height: 190%;
    width: 65%;
}

.BottomRowMoo {
    width: 100%;
    height: 150%;
}

.NAMoo {
    width: 100%;
    height: 33.3333%;
    display: inline-block;
    float: right;
    background-color: #2196F3;
}

.NAMoo h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
}

.NAMoo p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 17%;
    top: 10%;
    line-height: 190%;
    width: 65%;
}

.SAMoo {
    width: 100%;
    height: 33.3333%;
    display: inline-block;
    float: right;
    background-color: #1976D2;
}

.SAMoo h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
}

.SAMoo p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 17%;
    top: 10%;
    line-height: 190%;
    width: 65%;
}

.ICGMoo {
    width: 100%;
    height: 33.3333%;
    display: inline-block;
    float: right;
    background-color: #0D47A1;
}

.ICGMoo h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    top: 10%;
}

.ICGMoo p {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    left: 17%;
    top: 10%;
    line-height: 190%;
    width: 65%;
}

/*Mobile and Tablet*/

@media only screen and (max-width: 1000px) {
    @media only screen and (orientation: landscape) {
        .MooWarning {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            background-color: #4871F9;
        }
        .MooWarning h1 {
            font-family: 'Karla', sans-serif;
            text-align: center;
            position: absolute;
            top: 30%;
        }
        .MooContent {
            display: none;
        }
    }
    @media only screen and (orientation: portrait) {
        .MooWarning {
            display: none;
        }
        .MooContent {
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            height: 100%;
            width: 100%;
        }
        /*Mobile*/
        @media only screen and (max-width: 500px) {
            #titleMoo {
                font-size: 200%;
            }
            .headersMoo {
                font-size: 160%;
            }
            .mainTextMoo {
                font-size: 70%;
            }
            @media only screen and (min-height: 650px) {
                .mainTextMoo {
                    font-size: 80%;
                }
            }
        }
        /*Tablets*/
        @media only screen and (min-width: 500px) {
            #titleMoo {
                font-size: 250%;
            }
            .headersMoo {
                font-size: 220%;
            }
            .mainTextMoo {
                font-size: 90%;
            }
        }
    }
}

/*Laptops*/

@media only screen and (min-width: 1000px) {
    .MooWarning {
        display: none;
    }
    .MooContent {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .headerTopMoo {
        height: 10%;
    }
    .headerTopMoo h1 {
        top: 25%;
    }
    .TopRowMoo, .BottomRowMoo {
        height: 45%;
    }
    .WhatMoo, .ScannerMoo, .ParserMoo, .NAMoo, .SAMoo, .ICGMoo {
        width: 33.3333%;
        height: 100%;
        position: relative;
    }
    .WhatMoo h1, .ScannerMoo h1, .ParserMoo h1, .NAMoo h1, .SAMoo h1, .ICGMoo h1 {
        top: 8%;
    }
    .WhatMoo p, .ScannerMoo p, .ParserMoo p, .NAMoo p, .SAMoo p, .ICGMoo p {
        top: 6%;
    }
    @media only screen and (min-width: 1000px) {
        #titleMoo {
            font-size: 180%;
        }
        .headersMoo {
            font-size: 160%;
        }
        .mainTextMoo {
            font-size: 67%;
        }
    }
    @media only screen and (min-width: 1250px) {
        #titleMoo {
            font-size: 200%;
        }
        .headersMoo {
            font-size: 180%;
        }
        .mainTextMoo {
            font-size: 80%;
        }
    }
    @media only screen and (min-width: 1350px) {
        #titleMoo {
            font-size: 210%;
        }
        .headersMoo {
            font-size: 170%;
        }
        .mainTextMoo {
            font-size: 85%;
        }
    }
    @media only screen and (min-width: 1580px) {
        #titleMoo {
            font-size: 240%;
        }
        .headersMoo {
            font-size: 210%;
        }
        .mainTextMoo {
            font-size: 100%;
        }
    }
    @media only screen and (min-width: 1870px) {
        #titleMoo {
            font-size: 350%;
        }
        .headersMoo {
            font-size: 240%;
        }
        .mainTextMoo {
            font-size: 125%;
        }
    }
}