/* COMMON IN ALL RESOLUTIONS -- DEFAULT TEMPLATE */

html, body {
    padding: 0 0;
    margin: 0 0;
    height: 100%;
    width: 100%;
}

.NannonPage {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

h1, h2 {
    padding: 0 0;
    margin: 0 0;
}

.headerTopNannon {
    background-color: white;
    width: 100%;
    position: relative;
    text-align: center;
}

.headerTopNannon h1 {
    display: inline-block;
    font-family: 'Cinzel', serif;
    color: black;
    position: relative;
    height: 100%;
}

.headerTopNannon a {
    display: inline-block;
    float: right;
    position: relative;
    right: 2%;
}

.Nannonimages {
    width: 100%;
    background-color: #C09F80;
}

.Nannontext {
    width: 100%;
}

.WhatNannon h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
    left: 4%;
}

.WhatNannon p {
    position: relative;
    left: 15%;
    line-height: 190%;
    font-family: 'Montserrat', sans-serif;
    width: 75%;
}

.PlayersNannon {
    display: inline-block;
}

.PlayersNannon h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
}

.PlayersNannon ul {
    position: relative;
    left: 4%;
    width: 75%;
    line-height: 190%;
    font-family: 'Montserrat', sans-serif;
}

.ResultsNannon {
    display: inline-block;
}

.ResultsNannon h1 {
    font-family: 'Karla', sans-serif;
    text-align: center;
    position: relative;
}

.ResultsNannon p {
    position: relative;
    line-height: 190%;
    font-family: 'Montserrat', sans-serif;
}

/*Mobile and Tablet*/

@media only screen and (max-width: 1000px) {
    @media only screen and (orientation: landscape) {
        .NannonWarning {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            background-color: #4871F9;
        }
        .NannonWarning h1 {
            font-family: 'Karla', sans-serif;
            text-align: center;
            position: absolute;
            top: 30%;
        }
        .NannonContent {
            display: none;
        }
    }
    @media only screen and (orientation: portrait) {
        .NannonWarning {
            display: none;
        }
        .NannonContent {
            padding: 0;
            margin: 0;
            overflow-y: scroll;
            height: 100%;
            width: 100%;
        }
        html, body {
            overflow-x: hidden;
        }
        .headerTopNannon {
            height: 50%;
        }
        .headerTopNannon h1 {
            top: 35%;
        }
        .headerTopNannon a {
            display: inline-block;
            float: right;
            position: relative;
            right: 2%;
        }
        .Nannonimages {
            display: none;
            height: 150%;
        }
        .Nannontext {
            height: 150%;
        }
        .WhatNannon {
            height: 33%;
            width: 100%;
            background-color: #4871F9;
        }
        .WhatNannon h1 {
            color: black;
            top: 10%;
        }
        .WhatNannon p, .PlayersNannon ul {
            top: 8%;
        }
        .PlayersNannon {
            height: 30%;
            width: 100%;
            float: left;
        }
        .PlayersNannon h1 {
            color: black;
            top: 10%;
        }
        .ResultsNannon {
            height: 42%;
            width: 100%;
            float: left;
            background-color: #4871F9;
        }
        .ResultsNannon h1 {
            color: black;
            top: 10%;
        }
        .ResultsNannon p {
            top: 8%;
            left: 15%;
            width: 75%;
        }
        /*All Mobile Devices*/
        @media only screen and (max-width: 500px) {
            .titleNannon {
                font-size: 200%;
            }
            .mainTextNannon, .linkNannon {
                font-size: 67%;
            }
            .headersNannon {
                font-size: 170%;
            }
        }
        /*All Tablet Devices*/
        @media only screen and (min-width: 500px) {
            .titleNannon {
                font-size: 400%;
            }
            .mainTextNannon, .linkNannon {
                font-size: 110%;
            }
            .headersNannon {
                font-size: 300%;
            }
        }
    }
}

/*Laptops*/

@media only screen and (min-width: 1000px) {
    html, body {
        overflow: hidden;
    }
    .NannonWarning {
        display: none;
    }
    .NannonContent {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    .headerTopNannon {
        height: 9%;
    }
    .headerTopNannon h1 {
        top: 25%;
    }
    .headerTopNannon a {
        top: 20%;
    }
    .Nannonimages {
        width: 100%;
        height: 40%;
        background-color: #C09F80;
    }
    .HCNBNannon {
        display: inline-block;
        float: left;
        width: 33.3333%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid black;
    }
    .HCNBNannon img, .HCBNannon img, .NBBNannon img {
        width: 80%;
        height: 90%;
        padding: 3% 10%;
    }
    .HCBNannon {
        display: inline-block;
        width: 33.3333%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid black;
    }
    .NBBNannon {
        display: inline-block;
        float: right;
        width: 33.3333%;
        height: 100%;
        box-sizing: border-box;
        border: 1px solid black;
    }
    .Nannontext {
        height: 51%;
        background-color: #D7CEC7;
    }
    .headersNannon {
        color: #76323F;
    }
    .WhatNannon {
        height: 100%;
        width: 33.3333%;
        float: left;
        display: inline-block;
    }
    .PlayersNannon {
        height: 100%;
        width: 33.3333%;
    }
    .ResultsNannon {
        height: 100%;
        width: 33.3333%;
        float: right;
    }
    .WhatNannon h1, .PlayersNannon h1, .ResultsNannon h1 {
        top: 7%;
    }
    .WhatNannon p, .PlayersNannon ul {
        top: 5%;
    }
    .ResultsNannon p {
        top: 5%;
        width: 90%;
    }
    @media only screen and (min-width: 1000px) {
        .titleNannon {
            font-size: 190%;
        }
        .mainTextNannon, .linkNannon {
            font-size: 75%;
        }
        .headersNannon {
            font-size: 170%;
        }
    }
    @media only screen and (min-width: 1250px) {
        .titleNannon {
            font-size: 190%;
        }
        .mainTextNannon, .linkNannon {
            font-size: 80%;
        }
        .headersNannon {
            font-size: 170%;
        }
    }
    @media only screen and (min-width: 1350px) {
        .titleNannon {
            font-size: 220%;
        }
        .mainTextNannon, .linkNannon {
            font-size: 80%;
        }
        .headersNannon {
            font-size: 200%;
        }
    }
    @media only screen and (min-width: 1580px) {
        .titleNannon {
            font-size: 280%;
        }
        .mainTextNannon, .linkNannon {
            font-size: 120%;
        }
        .headersNannon {
            font-size: 240%;
        }
    }
    @media only screen and (min-width: 1870px) {
        .titleNannon {
            font-size: 300%;
        }
        .mainTextNannon, .linkNannon {
            font-size: 130%;
        }
        .headersNannon {
            font-size: 250%;
        }
    }
}